<div class="card icon-card" data-animation="slide-in" data-delay="1">
  <img src="{{ icon }}" alt="icon" class="icon">
  <div class="icon-card-bottom">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
  </div>
</div>
