<div class="job-offer-block">
  <div class="job-offer-block--top">
    <div class="job-offer__title"> 
      <h2>{{ title }}</h2>
      <p><strong>Location:</strong> {{ location }}</p>
    </div>
    <a href="mailto:{{ email }}" class="button">Apply via Email</a>
  </div>
  <div class="job-offer-block--bottom">
    <p>{{ description }}</p>
  </div>
</div>
