<div class="job-offer-block">
  <div class="job-offer__title"> 
    <h3>{{ title }}</h3>
    <p><strong>Location:</strong> {{ location }}</p>
    <p>{{ description }}</p>
  </div>
  <a href="mailto:{{ email }}" class="button">Apply via Email</a>
</div>
