
.main-header {
  padding: 10px 20px;
  background-color: map-get($blue, 900);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.main-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row; 
  }
}

.menu-logo img {
  max-height: 50px; 
}

.main-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.main-menu .menu-item {
  margin-left: 10px; 
}

.menu-logo, .menu {
  display: flex;
  align-items: center; 
}

.menu-logo {
  margin-right: 20px; 
}

.menu-logo img {
  height: 50px; 
}

.menu {
  list-style: none;
  padding: 0; 
  margin: 0 !important; 
  height: 3rem;

  a {
    color: map-get($blue, 200);
    text-decoration: none;
    font-size: .75rem;
  }

  .is-active {
    color: map-get($blue, 200) !important;
    text-decoration: underline;
  }
}

.menu-item {
  padding: 0 .5rem; 

  @media (min-width: 768px){
    padding: 0 1.5rem; 
  }
}

.menu-item--active-trail a {
  color: map-get($blue, 200); 
  font-weight: bold;
}

.menu-item--expanded {
  position: relative;
}

.menu-item--expanded .menu {
  display: none;
}

.menu-item--expanded:hover .menu {
  display: block; 
  position: absolute; 
  background-color: map-get($blue, 900); 
  box-shadow: 0 8px 16px rgba(0,0,0,0.1); 
  z-index: 1000;
  height: auto;

  .menu-item:hover {
    background-color:map-get($blue, 700) ; 
  }
}

.menu-item--expanded .menu-item {
  padding: 10px 20px; 
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.menu-item--expanded::marker {
  content: "\25BC";
  position: absolute;
  right: 0;
  color: map-get($blue, 200);
}
