.main-header {
  padding: 10px 20px;
  background-color: #003366; /* example color */
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.main-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 48rem) {
    flex-direction: row;
  }
}

.nav-logo img {
  max-height: 50px;
}

.main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.main-nav .nav-item {
  margin-left: 10px;
}

.nav-logo, .nav {
  display: flex;
  align-items: center;
}

.nav-logo {
  margin-right: 20px;
}

.nav-logo img {
  height: 50px;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0 !important;
  height: 3rem;

  a {
    color: #99ccff; /* example color */
    text-decoration: none;
    font-size: 1rem;
  }

  .is-active {
    color: #99ccff !important; /* example color */
    text-decoration: underline;
  }
}

.nav-item {
  padding: 0 .5rem;

  @media (min-width: 48rem) {
    padding: 0 1.5rem;
  }
}

.nav-item--active-trail a {
  color: #99ccff; /* example color */
  font-weight: bold;
}

.nav-item--expanded {
  position: relative;

  :hover {
    .nav {
      display: block;
    }
  }
}

.nav-item--expanded .nav {
  display: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.nav-item::marker {
  content: none;
}

.nav-item--expanded::after {
  content: "\25BC";
  position: absolute;
  right: 0;
  color: #99ccff; /* example color */
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 10;
  padding-left: 1.5rem;
}

.hamburger img {
  width: 30px;
  height: 30px;
}

.nav-container {
  display: none;

  @media (min-width: 48rem) {
    display: block !important;
  }
}

.nav-container.active {
  display: block;
  position: fixed;
  top: 8%;
  left: 0;
  width: 100%;
  height: 92%;
  background-color: #003366; /* example color */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.nav-container.active .nav {
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.nav-container.active .nav-item {
  margin: 10px 0;
  width: 100%; 
}

.nav-container.active .nav-item--expanded .nav {
  display: block;
  position: static;
  background-color: transparent;
  box-shadow: none;
  width: 100%;
  margin: 0;
}

.nav-container.active .nav-item--expanded .nav-item {
  padding: 0; 
}

@media (max-width: 48rem) {
  .hamburger {
    display: block;
  }

  .nav-container {
    display: none;
    flex-direction: column;
  }

  .nav-container.active {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.nav-container.active .nav-item--expanded::after {
  display: none;
}

.nav-container.active .nav-item--expanded .nav-item {
  margin: 0;
  margin-top: 1rem;
}

.close-btn {
  display: none;
  cursor: pointer;
  color: white;
}

.hamburger.active .close-btn {
  display: block;
}

/* Add the hover effect for expanded items at min-width: 48rem */
@media (min-width: 48rem) {
  .nav-item--expanded:hover .nav {
    display: block;
    position: absolute;
    top: 100%;
    background-color: map-get($blue, 900 ); /* example color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: auto;
    margin: 0;

    .nav-item {
      padding: 1rem;
      margin: 0;
    }

    .nav-item:hover {
      background-color: map-get($blue, 700 );
    }
  }
}
