
.main-header {
  background-color: #f8f8f8; 
  padding: 10px 20px;
  background-color: map-get($blue, 900);
  position: sticky;
  z-index: 1000;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 35px;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #333;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .main-menu {
    display: none;
  }

  .menu-container {
    display: none;
  }
}

.menu-active .main-menu {
  display: flex;
  flex-direction: column;
}

.main-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-logo img {
  max-height: 50px; 
}

.main-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.main-menu .menu-item {
  margin-left: 20px; 
}

@media (max-width: 768px) {
  .main-header__inner {
    justify-content: space-evenly;
  }

  .main-menu {
    flex-direction: column;
    width: 100%;
  }

  .main-menu .menu-item {
    margin: 10px 0; 
  }
}

.menu-logo, .menu {
  display: flex;
  align-items: center; 
}

.menu-logo {
  margin-right: 20px; 
}

.menu-logo img {
  height: 50px; 
}

.menu {
  list-style: none;
  padding: 0; 
  margin: 0 !important; 
  height: 3rem;

  a {
    color: map-get($blue, 200);
    text-decoration: none;
    font-size: .75rem;
  }

  .is-active {
    color: map-get($blue, 200) !important;
    text-decoration: underline;
  }
}

.menu-item {
  padding: 0 1rem; 
}

.menu-item--active-trail a {
  color: map-get($blue, 200); 
  font-weight: bold;
}

.menu-item--expanded .menu {
  display: none;
}

.menu-item--expanded:hover .menu {
  display: block; 
  position: absolute; 
  background-color: map-get($blue, 900); 
  box-shadow: 0 8px 16px rgba(0,0,0,0.1); 
  z-index: 1000;
  height: auto;

  .menu-item:hover {
    background-color:map-get($blue, 700) ; 
  }
}

.menu-item--expanded .menu-item {
  padding: 10px 20px; 
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
