.block-inline-blockpicture-gallery {
  width: 90%;
  
  h2 {
    text-align: center;
    padding-left: 3rem;
    font-size: 3rem;
  }
}

.block-inline-blockpicture-gallery::before,
.block-inline-blockpicture-gallery::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: map-get($blue, 400);
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.partners .field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1.5rem;
}


@media (min-width: 48rem) {
  .field__items{
    flex-wrap: nowrap;
  }
}

@media (min-width: 60rem){
  .field__items{
    flex-wrap: wrap;
  }
}

.partners .field__items {
  margin-left: 1rem;
  width: 80%;
}

.image-style-large {
  width: 100%;
  height: 100%;
}

.field__item {
  padding-left: 2rem;
}