@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@400;600;700&display=swap');
body {
  font-family: 'Fira Sans', 'sans-serif';
  font-weight: 400;
  background-color: map-get($blue, 50);

  p {
    font-size: 1rem;
    line-height: 1.5;
    color: map-get($blue, 950);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', 'sans-serif';
  font-weight: 600;
}

h2 {
  color: map-get($blue, 800);
}
