@use "sass:color";

// Grays
$black: #303642;

$grays: (
  900: #1a202c,
  800: #303642,
  700: #52606d,
  600: #75787b,
  500: #898e9a,
  400: #aeaeae,
  300: #cbd0d3,
  200: #ebeded,
  100: #f6f8f9,
);

$blue: (
  950: #04274d,
  900: #073e73,
  800: #004786,
  700: #0057aa,
  600: #006ed2,
  500: #028df5,
  400: #2da8ff,
  300: #76c4ff,
  200: #b6deff,
  100: #deeeff,
  50: #eff7ff,
);

$white: #fff;
