<div class="footer">
  <div class="container-xl">
    <div class="footer-top">
      <div class="footer-top__left">
        <div class="footer-top__logo">
          <img src="{{ directory }}/images/logo.png" alt="Footer Logo">
        </div>
      </div>
      <div class="footer-top__center">
        <div class="footer-top__contact">
          <h3>Contact</h3>
          <a href="https://www.google.com/search?q=Sint-andriessteenweg+80+9620+Zottegem" target="_blank">
            <img src="{{ directory }}/images/pin.svg" alt="Address" class="icon"> Sint-andriessteenweg 80 9620 Zottegem
          </a>
          <a href="tel:093603877">
            <img src="{{ directory }}/images/phone.svg" alt="Phone" class="icon"> 09 360 38 77
          </a>
          <a href="mailto:info@zottegemsedakwereken.be">
            <img src="{{ directory }}/images/envelope.svg" alt="Email" class="icon"> info@zottegemsedakwereken.be
          </a>
        </div>
      </div>
      <div class="footer-top__right">
        <nav>
          <ul class="footer-top__menu">
            <li class="footer-top__menu-item"><a href="/home">Home</a></li>
            <li class="footer-top__menu-item"><a href="/diensten">diensten</a></li>
            <li class="footer-top__menu-item"><a href="/over-ons">About us</a></li>
            <li class="footer-top__menu-item"><a href="/contact">contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom__left">
        <p>&copy; 2024 Zottegemse Dakwerken</p>
      </div>
      <div class="footer-bottom__right">
        <p>Designed and created by Jonas De Groote</p>
      </div>
    </div>
  </div>
</div>
